/* [class^='icon--']:before,
[class*='icon--']:before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;

  font-weight: normal;
  font-family: $ff-icons;
  font-style: normal;
  font-variant: normal;
  line-height: inherit;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$cds-icons: (
  'icon--no-pets': '\e96b',
  'icon--devices': '\e97e',
  'icon--error-filled': '\e97f',
  'icon--first-item': '\e980',
  'icon--instagram': '\e981',
  'icon--last-item': '\e982',
  'icon--logout': '\e983',
  'icon--first': '\e984',
  'icon--second': '\e985',
  'icon--third': '\e986',
  'icon--travel-Cash': '\e987',
  'icon--virtual-tour': '\e988',
  'icon--twitter': '\e989',
  'icon--facebook': '\e98a',
  'icon--youtube': '\e98b',
  'icon--Apple-path1': '\e973',
  'icon--Apple-path2': '\e974',
  'icon--Facebook': '\e975',
  'icon--Google-path1': '\e976',
  'icon--Google-path2': '\e977',
  'icon--Google-path3': '\e978',
  'icon--Google-path4': '\e979',
  'icon--Google-path5': '\e97a',
  'icon--Confirmation': '\e97b',
  'icon--border-alert': '\e96f',
  'icon--KO': '\e972',
  'icon--atmosphere': '\e95b',
  'icon--balcony': '\e95c',
  'icon--bath': '\e95d',
  'icon--bed': '\e95e',
  'icon--dimensions': '\e960',
  'icon--hotel-services': '\e961',
  'icon--kitchen': '\e962',
  'icon--multimedia': '\e963',
  'icon--no-kids': '\e964',
  'icon--pets': '\e98c',
  'icon--pool': '\e965',
  'icon--premium': '\e966',
  'icon--browser': '\e98d',
  'icon--print': '\e967',
  'icon--room--furniture': '\e968',
  'icon--h_small': '\e935',
  'icon--albornoz_small': '\e936',
  'icon--bajada_small': '\e937',
  'icon--bar_Small': '\e938',
  'icon--Botella-agua_small': '\e939',
  'icon--Check-in-online_Small1': '\e93a',
  'icon--Copa-bienvenida_small': '\e93b',
  'icon--Desayuno_small': '\e93c',
  'icon--Descuento-AB_Small': '\e93d',
  'icon--descuento-generico': '\e93e',
  'icon--descuento-mobile': '\e93f',
  'icon--Early-check-in_small': '\e940',
  'icon--Experiencia-gastronomica_small': '\e941',
  'icon--Gym_Small': '\e942',
  'icon--habitacion-superior': '\e943',
  'icon--Last-call_Small': '\e944',
  'icon--Late-check-out_small': '\e945',
  'icon--mejor-precio-online': '\e946',
  'icon--ninos-gratis': '\e947',
  'icon--Noches_small': '\e948',
  'icon--Pack-Bienvenida_small': '\e949',
  'icon--Parking_Small': '\e94a',
  'icon--piscina_small': '\e94b',
  'icon--precio_minimo': '\e94c',
  'icon--Room-service_small': '\e94d',
  'icon--servicio-equipaje_small': '\e94e',
  'icon--Spa_Small': '\e94f',
  'icon--subida_small': '\e950',
  'icon--Terraza_Small': '\e951',
  'icon--Toalla-extra_Small': '\e952',
  'icon--trato-personalizado_small': '\e953',
  'icon--Travel-Cash_small': '\e954',
  'icon--Upgrade_small': '\e955',
  'icon--Ventajas-exclusivas_small': '\e956',
  'icon--wifi_small': '\e957',
  'icon--Check-in-online_Small': '\e934',
  'icon--drag': '\e913',
  'icon--hotel-selection': '\e97c',
  'icon--calendar': '\e97d',
  'icon--transfer': '\e98e',
  'icon--editar': '\e921',
  'icon--estrella': '\e922',
  'icon--start': '\e900',
  'icon--family1': '\e923',
  'icon--galeria': '\e924',
  'icon--localizacion-exacta': '\e925',
  'icon--lupa': '\e926',
  'icon--mail': '\e927',
  'icon--pause': '\e929',
  'icon--play': '\e92c',
  'icon--phone': '\e92a',
  'icon--train': '\e92e',
  'icon--metro': '\e928',
  'icon--plane': '\e95a',
  'icon--bus': '\e91f',
  'icon--hotel': '\e95f',
  'icon--unhidden': '\e969',
  'icon--hidden': '\e96a',
  'icon--reloj': '\e92d',
  'icon--reloj_solo': '\e959',
  'icon--warning': '\e92f',
  'icon--info': '\e92b',
  'icon--green-check': '\e971',
  'icon--descuento_solo': '\e958',
  'icon--error-red': '\e970',
  'icon--confirmation': '\e91c',
  'icon--error': '\e91d',
  'icon--info-filled': '\e96c',
  'icon--candado': '\e911',
  'icon--candado-filled': '\e920',
  'icon--nice': '\e910',
  'icon--excelent': '\e909',
  'icon--good': '\e90a',
  'icon--so-good': '\e90f',
  'icon--trash': '\e904',
  'icon--schedule': '\e905',
  'icon--check': '\e96d',
  'icon--back': '\e903',
  'icon--down': '\e90d',
  'icon--up': '\e91b',
  'icon--chevron-left': '\e906',
  'icon--chevron-right': '\e907',
  'icon--plus': '\e91a',
  'icon--less': '\e915',
  'icon--close': '\e90b',
  'icon--child': '\e908',
  'icon--simple-discount': '\e90c',
  'icon--edit': '\e90e',
  'icon--junior': '\e914',
  'icon--child1': '\e931',
  'icon--localization': '\e916',
  'icon--360': '\e91e',
  'icon--search': '\e917',
  'icon--zoom-in': '\e932',
  'icon--zoom-out': '\e933',
  'icon--adult': '\e901',
  'icon--adult1': '\e930',
  'icon--person': '\e918',
  'icon--people': '\e919',
  'icon--family': '\e912',
  'icon--baby': '\e902',
  'icon--CVV': '\e98f',
  'icon--formas-de-pago': '\e96e'
);

@each $key, $value in $cds-icons {
  .#{$key}::before {
    font-family: $ff-icons;

    content: map-get($cds-icons, $key);
  }
}
 */
