/* BASE COLORS */
$demiurge-50: #f9f7ed;
$demiurge-100: #f2eccf;
$demiurge-200: #e6d8a2;
$demiurge-300: #d7bc6d;
$demiurge-400: #caa445;
$demiurge-500: #bb8f37;
$demiurge-600: #ab7830;
$demiurge-700: #815427;
$demiurge-800: #6c4627;
$demiurge-900: #5d3b26;
$demiurge-950: #361f12;

/* PRIMARY COLORS */
$color-red-demiurge: #ff0000;
$color-black-demiurge: #1f2022;
$color-white-demiurge: #ffffff;
$color-white02-demiurge: #ecedf0;
$color-cream-demiurge: #f8f4ec;
$color-blue-demiurge: #1e71e3;
$color-blue-input-demiurge: #f2f8ff;

/* SECONDARY COLORS */
$color-gray-400: #646b79;
$color-gray-200: #c8cad0;
$color-gray-100: #e0e2eb;

$color-gray-900: #252628;
$color-gray-700: #474849;
$color-gray-300: #c1c3c9;

$color-siena-400: #a09582;
$color-siena-250: #cec2ad;
$color-siena-200: #e2dbcf;
$color-siena-100: #f1eadf;

$color-blue-300: #8ab5f0;
$color-blue-200: #f2f8ff;
$color-blue-100: #d2e3f9;

$color-blue-button-more: #eff6ff;

$color-border-line-grey: #cec2ad;

/* REWARDS COLORS */
$color-great--primary: #b6c5ff;
$color-great--secondary: #252e4c;

$color-circle--primqry: #eb6778;
$color-circle--secondary: #feb2e8;

$color-star--primary: #f9c271;
$color-star--secondary: #ff7f53;

$color-top--primary: #000000;
$color-top--secondary: #3d3c3b;

/* SEMANTIC */
$color-error: #dd554d;
$color-error--light: #f8d3d0;
$color-error--ultra-light: #fff5f4;

$color-sucess: #5f9b75;
$color-sucess--light: #f2f8f4;

$color-sucess: #5f9b75;
$color-sucess--light: #f2f8f4;

$color-killer: #ef3340;

$color-alert: #ffd86a;
$color-alert--light: #fff9ea;

/* VEIL */
$color-veil--light: #f9f7f3;
$color-veil--dark: #f9f7f3;

