:root {
  --color-primary: none;
  --color-secondary: none;
  --color-tertiary: none;

  --color-accent: #2479ff;
  --color-cancel: red;

  --color-black: black;
  --color-white: white;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: transparent;
  border-color: transparent;
}
